
body{
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


#canvas {
    cursor: default;
}

#canvas.n-resize { cursor: n-resize; }
#canvas.ne-resize { cursor: ne-resize; }
#canvas.e-resize { cursor: e-resize; }
#canvas.se-resize { cursor: se-resize; }
#canvas.s-resize { cursor: s-resize; }
#canvas.sw-resize { cursor: sw-resize; }
#canvas.w-resize { cursor: w-resize; }
#canvas.nw-resize { cursor: nw-resize; }